@charset "utf-8";
/* CSS Document */
/*@media only screen and (min-width:320px)  {
 /* smartphones, iPhone, portrait 480x320 phones 
 .blob_1 {
 	width: 100%;
 	display: none;
 }
 .blob_2 {
 	width: 100%;
 }
 .blob_3 {
 	width: 100%;
 }
 }
*/


/*@media only screen and (max-width: 767 px){
 
    }*/

 /*@media only screen and (max-width: 367px){
        .blog{
      display: none;

        }
        
    }
 */
 
	/* @media screen and (max-width: 979px) {
	  .blog_img {
	       margin-top: 290px;
	       background-image:url("../image/blog_bg.png");
		    padding: 34px 99px 77px 98px;
		    margin-left: -169px;
		    margin-right: 10px;
			background-repeat: no-repeat;
	    position: absolute;
		
	        }
	    

	}
*/
body{
	margin:0;
	padding:0;
	font-family:"Roboto Regular";
	}
p{
	padding:11px;
	margin:0;
   font-size: 14px;
}
	
[class*="btn_"] {
    width: 100%;
    display: block;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  @include size(100%, $btn-height);
  max-width: $btn-width;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}
#r{
	float:left; 
     width: 30%;
     margin-top: 52px;

}
.btn-8 {
  $btn-color: random-color($max:200);
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);
  
  &:before,
  &:after {
    content: '';
    @include absolute(0,0,0,0);
    background-color: $btn-color-dark;
  }
  
  &:before { transform: translateY(-100%); }
  &:after { transform: translateY(100%); }
  
  &:hover {
    color: tint($btn-color, 75%);
    
    &:before { transform: translateY(-50%); }
    &:after { transform: translateY(50%); }
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    @include size(20px);
  }
  100% {
    right: 50%;
    @include size($btn-width*1.5);
  }
}


	/*** Seeit ***/

@font-face {
    font-family:Script MT Bold;
    src:url(../image/SCRIPTBL.TTF);
}

@font-face {
    font-family:Roboto Regular;
    src:url(../image/Roboto-Regular.ttf);
}

.btn-8:hover{
background-color: #e86920;
color: white;	
 font-size: 14px; 
}
.btn:before {
	 transform: translateY(-100%);

}
.btn:after{
	 transform: translateY(50%); 
}
.btn-bnr:hover{
	    background-color: rgba(255,255,255,.5);
}
.header{
	background:rgba(255,255,255,.5);
	padding:15px 0 15px 0;
	position: absolute;
	width:100%;
	}
	
.logo{
	padding-left:9%;
	float:left;
	}


.menu{
	float:right;
	width:41.70%;
	padding-top:5px;
	
	}
.menu ul{
	list-style:none;
	
	}
	
.menu li a{
	float:left;
	text-decoration:none;
	color:#fff;
	padding:11px 20px 11px 20px;
	background-color:#e9702b;
}

.menu li a:hover{
	border-bottom:solid 3px #000;
	}

.social{
	float:right;
	position:relative;
	right:9%;
	margin-top:6px;
	}

.social_icon{
	padding:0px 10px;
	font-size:18px;
	font-weight:bold;
	}

.ph_no{
	font-size:18px;
	font-weight:bold;
	padding-right:20px;
	}



.banner{
	background-image:url("../image/banner.jpg");
	background-repeat:no-repeat;
	height:689px;
    background-size: contain;
	
	}


.frame{
	width:100%;
	max-width:80%;
	margin:auto;
	
	
	}


.b_title{
	font-size:24px;
	padding-top:340px;
	}

.b_s_title{
	background-image:url("../image/slider_text_bg.png");
	background-repeat:no-repeat;
	padding:8px;
	color:#fff;
	font-size:14px;
	width:550px;
		}

.b_left{
	float:left;
	margin-left: -10%;

	}
.btn-new:hover {

   background-color: burlywood;
   color: #e86920;	
   font-size: 14px; 

}
.b_right{
	width:500px;
	height:460px;
	background-color:rgba(255,255,255,.5);
	float:right;
	margin-top:182px;
	}
/*.btn { 
	width: 240px;
	height: 50px;
	text-decoration: none;
	padding: 15px 30px;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	font-size: 13px;
}

.btn-radial {
	border: 3px solid #333;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		background: #333;
		transition: all 300ms;
	}
	&:hover {
		color: white;
		transition: all .2s ease;
		&:after {
			width: 240px;
			height:240px;
			top: -100px;
			left: -3px;
		}
	}
}

*/.a_title{
	font-family:"Script MT Bold";
	font-size:52px;
	text-align:center;
	line-height:.9;
	padding-top: 13px;
    padding-left: 12px;
	}

.t_text{
	text-align: center;
    border-bottom: 1px solid #e9702b;
    width: 450px;
    margin: auto;
    padding-bottom: 16px;
	padding-top:20px;
	font-size:20px;
	}

.w_text{
	font-weight:bold;
	text-align:center;
	
	}
.p_text{
	text-align:center;
	padding-left: 2px;
	}
.button{
	margin:auto;
	width:150px;
	
	padding-top: 0px;
	}

.button a{
	background:#e9702b;
	text-decoration:none;
	color:#fff;
	padding:10px 20px;

	}
	
.l_news{
	background-color:#000;
	}	
	
.ln_title{
@	background-image:url("../image/latest_news_arrow.png");
	width:300px;
	font-size:25px;
	color:#fff;	
	padding: 24px 100px;
	background-repeat:no-repeat;
	position: absolute;

	}
	
	
.news{
	color: #fff;
    padding: 26px 0px 25px 400px;
    font-size: 22px;
	}	

/* My Css */
.blog{
    width:100%;
    max-width:80%;
    margin:auto;
    height:565px;
    padding: 7%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    }
.blog_1{
    overflow:hidden; 
    width: 32%;
    background-color: #ededed;
    height: 95%;
    float:left;
    margin-right:0;
    padding: 0px;
    display: flex;     
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    font-family: 'Ek Mukta', sans-serif;    

    }
    

    .card_heading{
    color:#e86920;
    flex:1;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    }   
.f_text{
    text-align:center;
    flex: 1;
    margin:auto;
}

.button_1{
    margin:auto;
    width:150px;
    flex: 1;
    padding-top:40px;
    }   
    
.button_1 a{
    text-decoration:none;
    color:#e86920;
    padding:10px 30px;
    border:2px solid #e86920;

    }   

.blog_img{
    flex: 1;
    background-image:url("../image/blog_bg.png");
        padding: 34px 99px 77px 96px;
        background-repeat: no-repeat;
    
    }


/*

main Designer Css


.blog{
	width:100%;
	max-width:80%;
	margin:auto;
	height:565px;
	padding: 7%;

    margin-left: 30px;
    display: flex;
        flex-direction: row;

	}
.blog_1{
	width: 31.6%;
    background-color: #ededed;
    height: 95%;
	float:left;
	margin-right:0;
    padding: 0px;

        flex: 1 ;
        	
	}
	
.blog_3{
	/*
Real Wala
	width: 31.6%;
    background-color: #ededed;
    height: 95%;
	float:left;
	margin-left:12px;
	padding-left: 5px;
	
	width: 31.6%;
    background-color: #ededed;
    height: 95%;
	float:left;
	margin-right:0;
    padding: 0px;
    flex: 1 ;
        
	
	}
	
.blog_2{
	width: 31.6%;
    background-color: #ededed;
    height: 95;
	float:left;
	margin-right:12px;
	margin-left:12px;
flex: 1 ;
        
	
	}

.blog_img{
	background-image:url("../image/blog_bg.png");
	    padding: 34px 99px 77px 98px;
	    margin-left: -169px;
	    margin-right: 10px;
		background-repeat: no-repeat;
        position: absolute;
    
	}

  h3{
	color:#e86920;
	    padding-top: 68%;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
	}	
.f_text{
	text-align:center;
	width:85%;
	margin:auto;
}

.button_1{
	margin:auto;
	width:150px;
	padding-top:40px;
	}	
	
.button_1 a{
	text-decoration:none;
	color:#e86920;
	padding:10px 30px;
	border:2px solid #e86920;

	}	
*/	
.wcu{
	background-image:url("../image/why_bg.png");
	background-repeat:no-repeat;
	height:715px;
	padding-top:100px;
	
	}	
	
.wcu_title{
	background-image:url("../image/white_top.png");
	background-repeat: no-repeat;
	background-position:center;
    height: 50px;
    color: #fff;
    padding: 22px 0 15px 4px;
    font-size: 30px;
	text-align:center;
	}	
	
.left_wcu{
	width:46%;
	color:#fff;
	float:left;
	 padding-top: 30px;
	 padding-right:10px;
	}	
h4{
	font-size:25px;
	font-weight:100;
	      
	}	
	
	
.left_wcu_t {
	text-align: initial;
	line-height:1.5;
	}	

.left_wcu_t ul li{
	list-style-type: disc;
	line-height: 26px;
}

}
.button_2{
	width:150px;
	padding-top:40px;
	}	
	
.button_2 a{
	text-decoration:none;
	color:#e86920;
	padding:10px 30px;
	border:2px solid #e86920;
	background-color:#fff;

	}	

.right_wcu{
	width:48%;
	color:#fff;
	float:left;
	padding-top:80px;
	}
	
.testi{
	height:550px;
	
	}	
	
.testi_title{
	background-image:url("../image/orange_top.png");
	background-repeat: no-repeat;
	background-position:center;
    height: 50px;
    color: #e86920;
    padding: 22px 0 15px 4px;
    font-size: 30px;
	text-align:center;
	}
	
.left_testi{
	width:50%;
	background-image:url("../image/testi_bg.png");
	background-repeat:no-repeat;
	height:308px;
	padding-top: 50px;
	margin-top:60px;
	float:left;
	}
.testi_t{
	text-align:center;
	color:#fff;
	width:70%;
	margin:auto;
	padding-top:69px;
	font-size: 2em;
	}
	
.right_testi{
	width:50%;
	background-color:#f5f5f5;
	height:298px;
	padding-top: 40px;
	margin-top:60px;
	float:left;
	text-align:center;
	}
	
h4{
	color:#e86920;
	font-weight:200;
	font-size:25px;
	position:relative;
	top:-20px;
	bottom:-20px;
	top: -3px; 
	
	}
	
.right_testi_t{
	position:relative;
	top:-5px;
	font-size:40px;
	}	
	
.footer{
	background-image:url("../image/footer_bg.png");
	background-repeat:no-repeat;
	padding-top:100px;
	margin-top: -1%;
	float:left;
	width:100%;

	}
.cont_main .footer{
		background-image:url("../image/footer_bg.png");
	background-repeat:no-repeat;
	padding-top:100px;
	margin-top: -3%;
}
.cont_main{
		background-color: #272b33;
		padding-bottom: 27px;
		width: 80%;
		margin-left: 12%;
		font-size: 12px;
	
}


.contact{
	width:100%;
	float:left;
	margin-left:52px;
	margin-bottom:55px
	}

.contact_l{
	width:30%;
	margin-left:25px;
	float:left;
	background-image:url("../image/location_icon.png");
	background-repeat:no-repeat;
	

	}

.contact_e{
	width:30%;
	float:left;
	margin-left:25px;
	background-image:url("../image/email_icon.png");
	background-repeat:no-repeat;
	

	}
.contact_c{
	margin-left:25px;
	width:30%;
	float:left;
	background-image:url("../image/phone_icon.png");
	background-repeat:no-repeat;
	

	}
.l_t{
	color:#fff;
	padding: 28px 0 42px 112px;
	}	
	

.e_t{
	color:#fff;
	padding: 40px 0 42px 112px;
	}	
	
.footer_m{
	width:100%;
	float:left;
	max-width:80%;
	margin:auto;
	}	
	
.u_l{
	width:22%;
	float:left;
	margin-left:  106px;
	}
.u_l ul li a{
	color: azure;
	}
.s_l ul li a{
		color: azure;
		}
h5{
	font-size:28px;
	color:#fff;
	font-weight:100;
	margin:0;
	padding:0;
	color: azure;
	
}	

.f_m{
	margin:0;
	padding:0;
	position:relative;
	top:60px;	
	}

.f_m li{
	list-style:none;
	
	
	}

.f_m li a{
	text-decoration:none;
	color:#fff;
	line-height:1.9;
	}
	
.s_l{
	float:left;
	width:23%;
	margin: 49px 0px 0px 32px;
	}
.r_p{
	float:left;
	width:25%;
	}
	
.rp_img{
	float:left;
	    padding-top: 72px;
	}	
	
.rp_con{
	    float: left;
    width: 67%;
    color: #fff;
    font-size: 12px;
    padding-top: 70px;
    margin-left: 10px;
	}	
	
h6{
	font-size: 18px;
	color:#e86920;
	margin: 0;
    padding: 0;
	}	
	
.b_more a{
	color:#e86920;
	position:relative;
	top:5px;
	
	}
	
.p_1{	
	    width: 100%;
    height: 142px;
	
}

.p_2{	
	width: 100%;
    height: 80px;
	    position: relative;
    top: -62px;
	
}

.p_3{	
	width: 100%;
    height: 80px;
	    position: relative;
		float: left;
		top: -118px;
	
}

.gall{
	width:30%;
	float:left;
	}
	
.g_img{
	padding-top:72px;}	
	
.f_2{
	background-color:#000;
	float:left;
	margin-top:10px;
	width:100%;
	text-align:center;
	    color: #fff;
    padding: 30px 0;
    border-top: 1px solid #e86920;
   
	}
.aboutpage
    {   
    	font-size: 2px;
		margin-left: 12%;
		width: 80%;
		background-color: #272b33;
	/*	background: rgb(105,155,200);
background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
 background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
 background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );*/
	}

.second_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 80%;
	margin-left: 12%;
	overflow: hidden;
      margin-top: 2%;

}
.second_div_1 {
flex: 1;
width: 100%;
height: 100%;
margin-top: 2%;
padding: 3%;
overflow: hidden;

}
.second_div_1 img {
margin-left: 10%;

}

.content_about {
	width: 40%;
	margin-left: 400px;
	margin-top: 3%;
	margin-right: 0%;
	padding: 10px;
	margin-left: 56%;
	font-size: 20px;
}
.second_div_1 img:hover {
 transform: scale(1.1);
-ms-transform: scale(1.1); 
-webkit-transform: scale(1.1);
  box-shadow: 2px 2px 2px #4b4b4b;
  
}
 .second_div_1 img:hover + .content_about h2 { background-color: #e9702b; font-size: 35px}
  .services{
  	font-size: 2px;
		margin-left: 12%;
		width: 80%;
		background-color: #272b33;
  }
  .Lodg {
  	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

  }
.Lodg_1 {
	flex:1;
	width: 100%;
height: 100%;

  }
 .admission{
  	font-size: 12px;
		margin-left: 12%;
		width: 80%;
		background-color: #272b33;
  }
  .appeal {
  		font-size: 2px;
		margin-left: 12%;
		width: 80%;
		background-color: #272b33;
  }
  .appeal_contnt{
  	font-size: 16px;
  	font-family: "Arial";
  }
  .greet_contact{
  	width: 60%;
    height: 100%;
    background-color: #ff5200;
    margin-top: 18%;
    padding-top: 76px;
    margin-left: 24%;
    font-size: 20px;
  }
  .Hcontainer .footer h5 {
color: azure;
  }
  .meservice h4 {
  	margin-top: 3%;
  }
   .meservice .Lodg {
  	margin-top: 3%;
  }
  .testi_ana {
  	font-size:30px;
  }
  .work-in-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  z-index: 200000;
  background-color: #FFFFFF;
}

.work-spinner {
  background-color: rgba(0,0,0,0);
  border: 9px solid rgba(27,61,226,0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 120px;
  -webkit-box-shadow: 0 0 35px #1B3DE2;
  box-shadow: 0 0 35px #1B3DE2;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
}
@-moz-keyframes spin {
     from {
         -moz-transform: rotate(0deg);
     }
     to {
         -moz-transform: rotate(360deg);
     }
 }

 @-webkit-keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 @-o-keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }


	@media (max-width: 770px) {


		
		.contact{
			margin-left: 0px;
		}
		.wcu h2 {
			font-size: 17.5px;
		}
		.testi_ana {
  	font-size:14px;
  }
  
.f_2{
	margin-top:2px;
}
              .blog{

      height: 1200px;
flex-direction: column;
        }
        .blog_1{
        width: 100%;
       height: 600px;
       margin-top: 20px;

         /* To make the transition work nicely. (Transitions to/from
                        "width:auto" are buggy in Gecko and Webkit, at least.
                        See http://bugzil.la/731886 for more info.) */
        
    }
    .blog_img > img{
     height: 62px;
     width: 62px;
     margin-left: 36px;
    }
    .blog_img{
    background-size: contain;
    padding: 61px 138px 75px 67px; 
    /*  padding: 95px 230px 135px 67px;*/
    }
    .button_1 a{
      margin-top: -32px;
    }
    .a_title {
    font-size: 18px;
    text-align: center;
    line-height: .9;
    padding-top: -8px;
    padding-left: 240px;
    margin-top: -118px;


     }	
     .t_text{
     	margin: auto 140px;
     	font-size: 9px;
     	 margin: auto 140px;
   
     }

    p{
    		padding: 8px;
    		font-size: 9px;
    }
    .b_title{
    	/*background-color: rgba(255,255,255,.5);*/
    	font-size: 19px;
    	margin-top: -92px;
    	margin-right: 138px;
    }
    .b_s_title{
   padding: 0px;
   font-size: 8px;
   margin-left: -131px;
    }
    .p_text{
    	padding-left: 257px;
    }
    .b_right {

    	margin-top: 113px;
    	height: 34%;
    }
    .w_text{
    	margin-left: 234px;
    	font-size: 12px; 
    }
    .button {
    	margin-left: 294px; 
    }
    .left_wcu {
        width: 100%;   
        padding-top: 0px;
    }
    .wcu_title{
    background-image: url(../image/whitett_top.png);
    padding-top: 0px;
    }
    .right_wcu {
    	width: 100%;
    	padding-top: 31px;


    }
    .right_wcu iframe {
      width: 280px;
      height: 150px;

    }
    .button_2 {
    	width: 100%;
    }
    .left_testi {
    	width: 109%;
    	margin-left: -11px;
    } 
    .testi_t {
    	padding-top: 64px;
    	font-size: 14px;

    }
    .footer {
    	margin-top: 123%;
    	width: 100%;

    }
    .right_testi{
    	margin-left: 0px;
    	margin-top: 33px;
    	width: 100%;
    }
    .contact_l {
    	width: 100%;
    }
    .contact_e {
    	width: 100%;
    	margin-left: 0px;
    }
    .contact_c {
    	width: 100%;
    }
    .footer{
    	padding-top: 27px;
    	margin-top: 348px;
    }
    .gall{
    	display: none;
    }
    .footer_m {
    	max-width: 100%;
    	margin-left: -42px;
    }
    .f_m{   
    	top: -5px;
    }
    #r{
     margin-left: 0px;
	float:left; 
     width: 100%
}
    .content_about {
        width: 100%;
    margin-left: 400px;
    margin-top: 3%;
    margin-right: 0%;
    padding: 41px 0px;
    margin-left: 0%;
	font-size: 20px;
	}
    .u_l{
		margin-top: -20px;
		width: 36%;
		font-size: 11px;
	}
	

	
}
@media (max-width: 1252px) {

	
   .contact_l {
    	width: 100%;
    }
    .contact_e {
    	width: 100%;
    	margin-left: 25px;
    }
    .contact_c {
    	width: 100%;
	}	
	.u_l{
		margin: 32px 0px 0px 106px;
	}
	.l_t{
		font-size: 12px;
		margin-bottom: 0px;
	}
	.e_t{
		font-size: 12px;
	}
	.footer{
		margin-top: 12px;
	}

   }

